@font-face{
    font-weight:400;
    font-family:Neuland Grotesk;
    font-style:normal;
    src:url(../fonts/1/fb1b858.ttf) format("truetype"),
    url(../fonts/1/12f1c0a.woff2) format("woff2"),
    url(../fonts/1/bbf2726.woff) format("woff")
}
@font-face{
    font-weight:700;
    font-family:Neuland Grotesk;
    font-style:normal;src:url(../fonts/2/479ebdf.ttf) format("truetype"),
url(../fonts/2/8762669.woff2) format("woff2"),
url(../fonts/2/acab0c5.woff) format("woff")
}
@font-face{
    font-weight:300;
    font-family:Neuland Grotesk;
    font-style:normal;
    src:url(../fonts/3/4cb4510.ttf) format("truetype"),
    url(../fonts/3/fb87c72.woff2) format("woff2"),
    url(../fonts/3/5b051dd.woff) format("woff")
}
@font-face{
    font-weight:400;
    font-family:Neuland Grotesk Condensed;
    font-style:normal;
    src:url(../fonts/4/3534d49.ttf) format("truetype"),
    url(../fonts/4/2996c44.woff2) format("woff2"),
    url(../fonts/4/1d830e1.woff) format("woff")
}
@font-face{
    font-weight:700;
    font-family:Neuland Grotesk Condensed;
    font-style:normal;
    src:url(../fonts/5/21310da.ttf) format("truetype"),
    url(../fonts/5/a5e91fd.woff2) format("woff2"),
    url(../fonts/5/51b8dd4.woff) format("woff")
}
@font-face{
    font-weight:300;
    font-family:Neuland Grotesk Condensed;
    font-style:normal;
    src:url(../fonts/6/c152342.ttf) format("truetype"),
    url(../fonts/6/2380091.woff2) format("woff2"),
    url(../fonts/6/bff4e7a.woff) format("woff")
}


