/* Vars ========================================================================== */

// Main color
$white: #ffffff;
$red: #D5192A;
$black: #000000;







// Colors
$main_text_color: $white;
$second_text_color: $black;
$button_bg_color: $red;

// Size
$desktop_width: 991px;
$desktop_width_150: 1200px;




