.modal {
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__place {
    position: relative;
    padding: 70px 150px;
    background-color: #ffffff;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    outline: none;
    background-color: transparent;
    border: none;
}
