@font-face{
    font-weight: 300;
    font-family: Raleway;
    font-style:normal;
    font-display: swap;
    src:url(../fonts/raleway-v22-cyrillic-300.woff2) format("woff2"),
    url(../fonts/raleway-v22-cyrillic-300.woff2) format("woff")
}

@font-face{
    font-weight: 900;
    font-family: Raleway;
    font-style:normal;
    font-display: swap;
    src:url(../fonts/raleway-v22-cyrillic-900.woff2) format("woff2"),
    url(../fonts/raleway-v22-cyrillic-900.woff2) format("woff")
}
