:root {
    --transiton: .75s cubic-bezier(.2, .6, 0, 1);
}

body {
    height: 100%;
    width: 100vw;
    margin: 0;
    background-color: #060d17;
    color: #ffffff;
    outline: 1px solid red;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
