@font-face{
    font-weight: 900;
    font-family: Raleway;
    font-style:normal;
    font-display: swap;
    src:url(../fonts/NeulandGrotesk-CondensedBold.woff2) format("woff2"),
    url(../fonts/NeulandGrotesk-CondensedBold.woff) format("woff")
}

@font-face{
    font-weight: 400;
    font-family: Raleway;
    font-style:normal;
    font-display: swap;
    src:url(../fonts/NeulandGrotesk-Regular.woff2) format("woff2"),
    url(../fonts/NeulandGrotesk-Regular.woff) format("woff")
}

@font-face{
    font-weight: 400;
    font-family: Raleway;
    font-style:normal;
    font-display: swap;
    src: url(../fonts/RobotoRegular.woff) format("woff")
}
